baseURL = 'https://edibleloughborough.org.uk/'
languageCode = 'en-gb'
title = 'Incredible Edible Loughborough'
disableKinds = ['taxonomy', 'term']
ignoreLogs = ['warning-goldmark-raw-html']
enableRobotsTXT = true

[minify]
  minifyOutput = true

[params]
  shortTitle = "IEL"
  contactEmailAddress = "ediblelboro@gmail.com"
  breakpointXl = "1260px"
  breakpointLg = "992px"
  breakpointMd = "768px"
  breakpointSm = "576px"
  author.name = "Michael Fraser"

[permalinks]
  pages = "/:slug/"

[markup]
  [markup.goldmark]
    [markup.goldmark.renderer]
      unsafe = true # Often needed for Bootstrap components in Markdown

[build]
  writeStats = true # Generates hugo_stats.json (required if you use PurgeCSS later)
  
[[module.mounts]]
  source = "assets"
  target = "assets"

[[module.mounts]]
  source = "node_modules/bootstrap/scss"
  target = "assets/scss/bootstrap"

[[module.mounts]]
  source = "node_modules/bootstrap"
  target = "assets/js/bootstrap"  