baseURL = 'https://incredibleedibleloughborough.netlify.app/'
languageCode = 'en-gb'
title = 'Incredible Edible Loughborough'
disableKinds = ['taxonomy', 'term']
ignoreLogs = ['warning-goldmark-raw-html']
enableRobotsTXT = true

[minify]
  minifyOutput = true

[params]
  shortTitle = "IEL"
  contactEmailAddress = "ediblelboro@gmail.com"
  breakpointXl = "1260px"
  breakpointLg = "992px"
  breakpointMd = "768px"
  breakpointSm = "576px"
  author.name = "Michael Fraser"

[permalinks]
  pages = "/:slug/"