/* londrina-solid-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Londrina Solid';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/fonts/londrina-solid-v19-latin-regular.woff2') format('woff2');
}

/* montserrat-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/fonts/montserrat-v31-latin-regular.woff2') format('woff2');
}

/* montserrat-700 - latin */
@font-face {
    font-display: swap;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('/assets/fonts/montserrat-v31-latin-700.woff2') format('woff2');
}
