@import 'variables';

footer {
  color: $primary-color;
  text-align: center;
  background-color: #3f3631;
  margin-top: 2em;
  padding-bottom: 8em;
  padding-top: 8em;
  position: relative;
  float: left;
  width: 100%;
  color: white;
  z-index: 100;
  min-height: 300px;
}


footer a {
  color: white;
  text-decoration: none;
}

footer [class*='decor-'] .bulb,
footer [class*='decor-'] .leaves {
  background-repeat: no-repeat;
  position: absolute;
}


footer .decor-fork {
  background-image: url("/assets/images/fork.png");
  background-size: contain;
  height: 13.7em;
  left: 2em;
  position: absolute;
  top: -11.5em;
  width: 5.4em;
  z-index: -1;
}

footer .decor-beet {
  height: 10.341em;
  left: 35%;
  position: absolute;
  top: -3.8em;
  width: 4.35em;
}

@media screen and (max-width: 727px) {
  footer .decor-beet {
    left: 60%;
  }
}

footer .decor-beet .bulb {
  background-image: url("/assets/images/beet_bulb.png");
  background-size: 2.5em 6.95em;
  bottom: 0;
  height: 6.95em;
  right: .35em;
  width: 2.5em;
  z-index: 1;
}

footer .decor-beet .leaves {
  background-image: url("/assets/images/beet_leaves.png");
  background-size: 4.35em 3.95em;
  height: 3.95em;
  left: 0;
  top: 0;
  width: 4.35em;
  z-index: 2;
}

footer .decor-parsnip {
  height: 12.008em;
  position: absolute;
  right: 13%;
  top: -5.925em;
  width: 4.35em;
}

@media screen and (max-width: 727px) {
  footer .decor-parsnip {
    display: none;
  }
}

footer .decor-parsnip .bulb {
  background-image: url("/assets/images/parsnip_bulb.png");
  background-size: 1.275em 6.4em;
  height: 6.4em;
  left: 1.6em;
  bottom: 0;
  width: 1.275em;
  z-index: 1;
}

footer .decor-parsnip .leaves {
  background-image: url("/assets/images/parsnip_leaves.png");
  background-size: 4.35em 5.925em;
  height: 5.925em;
  left: 0;
  top: 0;
  width: 4.35em;
  z-index: 2;
  image-rendering: pixelated;
}

footer a.top .visible {
  display: none;
}

footer a.top {
  -webkit-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  transition: all 0.25s ease;
  background-color: $primary-color;
  background-image: url("/assets/images/arrow_up_white.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1.1em;
  height: 3em;
  overflow: hidden;
  position: fixed;
  text-indent: 3em;
  white-space: nowrap;
  width: 3em;
  z-index: 999;
  bottom: 3.125%;
  right: 3.125%;
}

@media screen and (max-width: 890px) {
  footer a.top {
    bottom: .5em;
    right: .5em;
  }
}

footer a.top:hover,
footer a.top:focus,
footer a.top:active {
  background-color: $primary-color;
}

.has-js footer a.top {
  bottom: -3em;
}

footer a.top.visible {
  bottom: 3.125%;
}

@media screen and (max-width: 890px) {
  footer a.top.visible {
    bottom: .5em;
  }
}