@import 'variables';

.navbar-dark {
    background: $primary-color;
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* max-width: 1200px; */
    margin: 0 auto;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 2rem;
    text-transform: uppercase;
    font-family: $font-secondary;
}

nav li .active {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-decoration-color: currentColor;
    text-underline-offset: 0.5em;
}

.nav-link {
    color: white;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: 300;
    font-size: 20px;
}

nav a:hover {
    text-decoration: underline;

    /* Set the thickness of the underline */
    text-decoration-thickness: 3px;

    /* Optional: Set a specific color */
    text-decoration-color: currentColor;
    text-underline-offset: 0.5em;
    /* Increase this value for more space */

    /* Optional: Smooth transition for effect */
    transition: text-underline-offset 0.2s ease-in-out,
        text-decoration-color 0.2s ease-in-out;
}


.navbar-collapse .nav-link {
    color: white !important;
}


@media (max-width: 991.98px) {
    .navbar-collapse {
        padding-top: 3rem;
        /* Make room for the X button */
    }
}

/* Make the navbar toggler icon white */
.navbar-toggler {
    border-color: white;
    /* Optional: white border */
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* Optional: Change focus/hover state */
.navbar-toggler:focus,
.navbar-toggler:active {
    border-color: white;
    box-shadow: none;
    /* Remove default Bootstrap focus shadow */
}


/* Optional: Add rounded corners and shadow for better appearance */
@media (max-width: 991.98px) {
    .navbar-collapse {
        margin-top: 0.5rem;
        border-radius: 0.5rem;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        background-color: white !important;

    }

    .navbar-collapse .nav-link {
        color: black !important;
    }
}


/* Position the close button in the top right of the menu */
.navbar-collapse {
    position: relative;
}

.btn-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 1001;
}
