
$primary-color: #8acb5e;
$secondary-color: #403e3c;

$success-color: #28a745;
$danger-color: #dc3545;
$warning-color: #ffc107;
$info-color: #17a2b8;

$text-color: #333;
$text-muted: #6c757d;
$bg-color: #ffffff;
$bg-dark: #343a40;
$border-color: #dee2e6;

// Typography
$font-primary: montserrat;
$font-secondary: 'Londrina Solid', sans-serif;
$font-monospace: "Courier New", monospace;
