$primary-color: #8acb5e;
$secondary-color: #4c7b35;
$footer-color: #3f3631;
$light-color: white;

$xl: "1260px";
$lg: "992px";
$md: "768px";
$sm: "576px";

// Typography
$font-primary: montserrat;
$font-secondary: "Londrina Solid", sans-serif;
$font-monospace: "Courier New", monospace;
