@import 'variables';
@import 'fonts';
@import 'nav';
@import 'footer';
@import 'top';

// @TODO remove
:root {
    --xl: #{$xl};
    --lg: #{$lg};
    --md: #{$md};
    --sm: #{$sm};
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    height: 100%;
}

html,
body {
    font-family: $font-primary;
    font-size: 100%;
    font-weight: 300;
    -moz-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    line-height: 1.5;
    letter-spacing: 0;
    background: $light-color;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background: transparent;
    color: $light-color;
}

main {
    position: relative;
    z-index: 10;
    margin-top: 0;
    margin-bottom: 33vh;

    section:last-child {
        padding: 3rem 1rem;
    }

    &.internal-main {
        margin-top: 10vh;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

h2 {
    color: $primary-color;
    margin-bottom: 1rem;
}

svg {
    height: 1.2em;
    width: auto;
    vertical-align: -0.125em;
    margin-right: 0.5em;
    margin-top: 0.5em;
    display: inline-block;
}

path {
    transition: fill 0.3s;
}

a:hover path {
    fill: $primary-color;
}

.iel-logo {
    height: 50px;
    width: auto;
    display: inline-block;
    vertical-align: middle;
}

.iel-logo-mobile {
    display: block;
}

.iel-logo-desktop {
    display: none;
}

.image-theme {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    z-index: 1;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), var(--bg-image);
    background-size: cover;
    background-position: top;
}

.hero-content {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    text-align: center;
}

.btn-primary {
    background-color: $primary-color;
    border-color: $primary-color;
}

.btn-secondary {
    background-color: $light-color;
    border-color: $primary-color;
    color: $primary-color;
}

.btn-secondary:hover {
    background-color: $primary-color;
    border-color: $primary-color;
    color: $light-color;
}

@media (min-width: $lg) {
    .iel-logo {
        height: 80px;
    }

    .iel-logo-mobile {
        display: none;
    }
    
    .iel-logo-desktop {
        display: block;
    }

    main {
        margin-bottom: 1rem;

        &.internal-main {
            margin-top: 20vh;
        }
    }
}

@media (min-width: $xl) {
    html,
    body {
        font-size: 18px;
    }
}

@media print {
    html,
    body {
        font-size: 12pt;
    }
}

@media projection {
    html,
    body {
        font-size: 24px;
    }
}