local_backend: true

backend:
  name: git-gateway
  branch: main
media_folder: static/img
public_folder: /img
collections:
  - name: 'events'
    label: 'Events'
    folder: 'content/events'
    create: true
    slug: '{{slug}}'
    editor:
      preview: false
    fields:
      - { label: 'Title', name: 'title', widget: 'string' }
      - { label: 'Publish Date', name: 'publish_date', widget: 'datetime' }
      - { label: 'Event Date', name: 'event_date', widget: 'datetime' }
      - { label: 'Description', name: 'description', widget: 'string' }
      - { label: 'Body', name: 'body', widget: 'markdown' }

