<footer>
    {{ if .showVegetableImages }}
        <div class="decor-fork decor-item" data-when="enter" data-from="1" data-to="0" data-rotatez="5" data-translatex="-50"
            data-translatey="-50"></div>

        <div class="decor-beet">
            <div class="leaves decor-item" data-when="enter" data-from="1" data-to="0" data-translatey="10" data-scale=".75">
            </div>
            <div class="bulb decor-item" data-when="enter" data-from="1" data-to="0" data-translatey="-25" data-scale=".5">
            </div>
        </div>

        <div class="decor-parsnip">
            <div class="leaves decor-item" data-when="enter" data-from="1" data-to="0" data-translatey="10" data-scale=".85">
            </div>
            <div class="bulb decor-item" data-when="enter" data-from="1" data-to="0" data-translatey="-25" data-scale=".5">
            </div>
        </div>
    {{ end }}

    <div class="container">
        <div class="row mt-5">
            <div class="col-12 col-md-6 **text-start**">
                <h3>Company</h3>
                <ul class="list-unstyled">
                    <li><a href="/about-us/">About</a></li>
                    <li><a href="/contact-us/">Contact</a></li>
                </ul>
            </div>
            <div class="col-12 col-md-6 **text-start**">
                <h3>Legal</h3>
                <ul class="list-unstyled">
                    <li><a href="/privacy-policy/">Privacy Policy</a></li>
                </ul>
            </div>
        </div>
    </div>
    <p class="copyright">
        &copy; {{ now.Year }} Incredible Edible Loughborough. All rights reserved.
    </p>    
</footer>
<a class="back-to-top" href="#top">Back to top</a>
