{{ $events := where site.RegularPages "Section" "events" }}
{{ $now := now }}

<div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-12">
        <h1>Upcoming Events</h1>
        
        <ul class="list-unstyled">
        {{ range $events.ByDate }}
            {{ $eventDate := time .Params.event_date }}
            {{ if ge $eventDate $now }}
                {{ $day := $eventDate.Day }}
                {{ $suffix := "th" }}
                {{ if eq $day 1 21 31 }}{{ $suffix = "st" }}
                {{ else if eq $day 2 22 }}{{ $suffix = "nd" }}
                {{ else if eq $day 3 23 }}{{ $suffix = "rd" }}{{ end }}

                {{ $prettyDate := printf "%d%s %s" $day $suffix ($eventDate | time.Format "January") }}
                <li class="mb-2">
                    <span class="text-muted">{{ $prettyDate }}:</span>
                    <strong><a href="{{ .RelPermalink }}">{{ .Title }}</a></strong>
                </li>
            {{ end }}    
        {{ end }}
        </ul>

        <hr>
        <br>
        <h3>Past events</h3>
        <ul class="list-unstyled">
        {{ range $events.ByDate.Reverse }}
            {{ $eventDate := time .Params.event_date }}
            {{ if lt $eventDate $now }}
                <li class="mb-1" style="opacity: 0.9;">
                    <a href="{{ .RelPermalink }}">{{ .Title }}</a> - 
                    <small>{{ $eventDate | time.Format "02/01/2006" }}</small>
                </li>
            {{ end }}
        {{ end }}
        </ul>        
    </div>
</div>