{{/* Shortcode: gardens
   Renders garden entries from data/gardens.yml
*/}}
{{- $gardens := site.Data.gardens.gardens -}}
{{- if $gardens -}}
{{- range $index, $g := $gardens }}
{{- $context := dict "garden" $g "index" $index -}}
<hr>
{{- if modBool $index 2 }}
{{/* Odd index: text left, image right on desktop */}}
<div class="row align-items-top m-0">
    <div class="col-12 col-md-6 order-1 order-md-1">
        {{ partial "gardens-text.html" $context }}
    </div>
    <div class="col-12 col-md-6 order-0 order-md-2 mb-2">
        {{ partial "gardens-image.html" $context }}
    </div>
</div>
{{- else }}
{{/* Even index: image left, text right on desktop */}}
<div class="row align-items-top m-0 pb-1">
    <div class="col-12 col-md-6 order-0 order-md-1 mb-2">
        {{ partial "gardens-image.html" $context }}
    </div>
    <div class="col-12 col-md-6 order-1 order-md-2">
        {{ partial "gardens-text.html" $context }}
    </div>
</div>
{{- end }}
{{- end -}}
{{- end -}}