{{/* Shortcode: gardens
   Renders garden entries from data/gardens.toml
*/}}
{{- $gardens := site.Data.gardens.gardens -}}
{{- if $gardens -}}
{{- range $index, $g := $gardens }}
{{- $context := dict "garden" $g "index" $index -}}
<hr>
{{- if modBool $index 2 }}
{{/* Odd index: text left, image right */}}
<div class="row align-items-top">
    {{ partial "gardens-text.html" $context }}
    {{ partial "gardens-image.html" $context }}    
</div>
{{- else }}
{{/* Even index: image left, text right */}}
<div class="row align-items-top">
    {{ partial "gardens-image.html" $context }}    
    {{ partial "gardens-text.html" $context }}
</div>
{{- end }}
{{- end -}}
{{- end -}}